.elementor-21172 .elementor-element.elementor-element-3f860587 .elementor-heading-title{color:#7A7A7A;font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:500;line-height:28px;}.elementor-21172 .elementor-element.elementor-element-5e491094 .elementor-accordion-icon, .elementor-21172 .elementor-element.elementor-element-5e491094 .elementor-accordion-title{color:#1F3C61;}.elementor-21172 .elementor-element.elementor-element-5e491094 .elementor-accordion-icon svg{fill:#1F3C61;}.elementor-21172 .elementor-element.elementor-element-5e491094 .elementor-active .elementor-accordion-icon, .elementor-21172 .elementor-element.elementor-element-5e491094 .elementor-active .elementor-accordion-title{color:#1F3C61;}.elementor-21172 .elementor-element.elementor-element-5e491094 .elementor-active .elementor-accordion-icon svg{fill:#1F3C61;}.elementor-21172 .elementor-element.elementor-element-5e491094 .elementor-accordion-title{font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:700;line-height:28px;}.elementor-21172 .elementor-element.elementor-element-5e491094 .elementor-tab-content{background-color:#FFFFFF;color:#7B838E;font-family:"Source Sans Pro", Sans-serif;font-size:16px;font-weight:400;padding:10px 10px 10px 10px;}@media(max-width:767px){.elementor-21172 .elementor-element.elementor-element-fa0717c > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-21172 .elementor-element.elementor-element-1b8c529d > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-21172 .elementor-element.elementor-element-5e491094 .elementor-accordion-title{font-size:16px;line-height:16px;}.elementor-21172 .elementor-element.elementor-element-5b8277b6 > .elementor-element-populated{padding:0px 0px 0px 0px;}}/* Start custom CSS for heading, class: .elementor-element-3f860587 */p.text_muted.event_bult {
    margin-bottom: 0px;
    position: relative;
    padding-left: 12px;
}
.f-11 {
    position: absolute;
    left: 0px;
    top: 9px;
    font-size: 7px !important;
}
.text-dark {
    color: #1F3C61 !important;
    font-weight: 600;
}
a.under_line {
    text-decoration: underline;
}/* End custom CSS */