.elementor-25602 .elementor-element.elementor-element-76452a10{margin-top:48px;margin-bottom:0px;}.elementor-bc-flex-widget .elementor-25602 .elementor-element.elementor-element-7031c401.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-25602 .elementor-element.elementor-element-7031c401.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-25602 .elementor-element.elementor-element-7031c401 > .elementor-element-populated{margin:0px 20px 0px 20px;--e-column-margin-right:20px;--e-column-margin-left:20px;}.elementor-25602 .elementor-element.elementor-element-6a968026 .elementor-heading-title{color:#122B46;font-family:"Montserrat", Sans-serif;font-size:28px;font-weight:700;line-height:1px;}.elementor-25602 .elementor-element.elementor-element-6a968026 > .elementor-widget-container{margin:0px 0px 0px -31px;}.elementor-25602 .elementor-element.elementor-element-ec7e0c2{margin-top:30px;margin-bottom:0px;}.elementor-25602 .elementor-element.elementor-element-e296ca0 > .elementor-element-populated, .elementor-25602 .elementor-element.elementor-element-e296ca0 > .elementor-element-populated > .elementor-background-overlay, .elementor-25602 .elementor-element.elementor-element-e296ca0 > .elementor-background-slideshow{border-radius:10px 10px 10px 10px;}.elementor-25602 .elementor-element.elementor-element-e296ca0 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0em 0em 0em 0em;--e-column-margin-right:0em;--e-column-margin-left:0em;padding:0em 0em 0em 0em;}.elementor-25602 .elementor-element.elementor-element-e296ca0 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-25602 .elementor-element.elementor-element-9d923ee .elementor-tab-title{border-width:0px;}.elementor-25602 .elementor-element.elementor-element-9d923ee .elementor-tab-content{border-width:0px;color:#FFFFFF;font-family:"Source Sans Pro", Sans-serif;font-size:16px;font-weight:400;line-height:1.5em;padding:10px 30px 30px 30px;}.elementor-25602 .elementor-element.elementor-element-9d923ee .elementor-toggle-item:not(:last-child){margin-bottom:0px;}.elementor-25602 .elementor-element.elementor-element-9d923ee .elementor-toggle-title, .elementor-25602 .elementor-element.elementor-element-9d923ee .elementor-toggle-icon{color:#FFFFFF;}.elementor-25602 .elementor-element.elementor-element-9d923ee .elementor-toggle-icon svg{fill:#FFFFFF;}.elementor-25602 .elementor-element.elementor-element-9d923ee .elementor-tab-title.elementor-active a, .elementor-25602 .elementor-element.elementor-element-9d923ee .elementor-tab-title.elementor-active .elementor-toggle-icon{color:#FFFFFF;}.elementor-25602 .elementor-element.elementor-element-9d923ee .elementor-toggle-title{font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:600;}.elementor-25602 .elementor-element.elementor-element-9d923ee .elementor-tab-title .elementor-toggle-icon i:before{color:#FFFFFF;}.elementor-25602 .elementor-element.elementor-element-9d923ee .elementor-tab-title .elementor-toggle-icon svg{fill:#FFFFFF;}.elementor-25602 .elementor-element.elementor-element-9d923ee .elementor-tab-title.elementor-active .elementor-toggle-icon i:before{color:#FFFFFF;}.elementor-25602 .elementor-element.elementor-element-9d923ee .elementor-tab-title.elementor-active .elementor-toggle-icon svg{fill:#FFFFFF;}.elementor-25602 .elementor-element.elementor-element-9d923ee .elementor-toggle-icon.elementor-toggle-icon-left{margin-right:15px;}.elementor-25602 .elementor-element.elementor-element-9d923ee .elementor-toggle-icon.elementor-toggle-icon-right{margin-left:15px;}.elementor-25602 .elementor-element.elementor-element-9d923ee > .elementor-widget-container{padding:6px 15px 6px 15px;background-image:url("https://v25.investment-mastery.co/wp-content/uploads/2023/06/banner-crypto.png");background-position:center center;background-size:cover;border-radius:10px 10px 10px 10px;}.elementor-25602 .elementor-element.elementor-element-234f7e0{margin-top:20px;margin-bottom:0px;}.elementor-25602 .elementor-element.elementor-element-d6ca5a0.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-25602 .elementor-element.elementor-element-d6ca5a0 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-25602 .elementor-element.elementor-element-02315ef{text-align:left;}.elementor-25602 .elementor-element.elementor-element-02315ef .elementor-heading-title{color:var( --e-global-color-f469a7d );font-family:"Open Sans", Sans-serif;font-size:18px;font-weight:700;}.elementor-25602 .elementor-element.elementor-element-02315ef > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-25602 .elementor-element.elementor-element-3e22586 .bb-course-items .bb-cover-wrap{padding-top:50%;}.elementor-25602 .elementor-element.elementor-element-3e22586 .ld-progress-bar{height:5px;}.elementor-25602 .elementor-element.elementor-element-3e22586 .ld-progress-bar .ld-progress-bar-percentage{height:5px;}.elementor-25602 .elementor-element.elementor-element-3e22586 .bb-course-title{margin-bottom:8px;}#page .elementor-25602 .elementor-element.elementor-element-3e22586 .bb-course-title{margin-bottom:8px;}.elementor-25602 .elementor-element.elementor-element-3e22586 .bb-course-items .bb-cover-list-item{border-radius:4px 4px 4px 4px;}.elementor-25602 .elementor-element.elementor-element-3e22586 > .elementor-widget-container{margin:-80px 0px 0px 0px;}.elementor-25602 .elementor-element.elementor-element-f7b0d68 > .elementor-container{max-width:1200px;}.elementor-25602 .elementor-element.elementor-element-f7b0d68{margin-top:-3.5rem;margin-bottom:4rem;}.elementor-25602 .elementor-element.elementor-element-d63fb05 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-25602 .elementor-element.elementor-element-4e97d55 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-25602 .elementor-element.elementor-element-4e97d55:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-25602 .elementor-element.elementor-element-4e97d55 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-25602 .elementor-element.elementor-element-4e97d55 > .elementor-element-populated{border-style:solid;border-width:1px 1px 1px 1px;border-color:#E7E9EC;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 0px 0px;}.elementor-25602 .elementor-element.elementor-element-4e97d55 > .elementor-element-populated, .elementor-25602 .elementor-element.elementor-element-4e97d55 > .elementor-element-populated > .elementor-background-overlay, .elementor-25602 .elementor-element.elementor-element-4e97d55 > .elementor-background-slideshow{border-radius:4px 4px 4px 4px;}.elementor-25602 .elementor-element.elementor-element-4e97d55 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-25602 .elementor-element.elementor-element-c36b656 img{border-radius:4px 4px 0px 0px;}.elementor-25602 .elementor-element.elementor-element-55b3c0d{text-align:center;}.elementor-25602 .elementor-element.elementor-element-55b3c0d .elementor-heading-title{color:#FFFFFF;font-family:"Source Sans Pro", Sans-serif;font-size:16px;font-weight:400;text-transform:uppercase;}.elementor-25602 .elementor-element.elementor-element-55b3c0d > .elementor-widget-container{margin:0px 0px 0px 0px;padding:9px 9px 9px 9px;background-color:#48A9F5;}.elementor-25602 .elementor-element.elementor-element-f8efde0 .elementor-heading-title{color:#7A7A7A;font-family:"Source Sans Pro", Sans-serif;font-size:15px;font-weight:500;}.elementor-25602 .elementor-element.elementor-element-f8efde0 > .elementor-widget-container{padding:24px 20px 8px 20px;}.elementor-25602 .elementor-element.elementor-element-834ba82 .elementor-heading-title{color:#122B46;font-family:"Montserrat", Sans-serif;font-size:20px;font-weight:700;}.elementor-25602 .elementor-element.elementor-element-834ba82 > .elementor-widget-container{padding:15px 20px 50px 20px;}@media(min-width:768px){.elementor-25602 .elementor-element.elementor-element-4e97d55{width:32%;}.elementor-25602 .elementor-element.elementor-element-929c7d4{width:34.333%;}}@media(max-width:767px){.elementor-25602 .elementor-element.elementor-element-7031c401 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-25602 .elementor-element.elementor-element-6a968026{text-align:left;}.elementor-25602 .elementor-element.elementor-element-6a968026 .elementor-heading-title{line-height:1.4em;}.elementor-25602 .elementor-element.elementor-element-6a968026 > .elementor-widget-container{margin:0px 0px 0px -10px;padding:0px 0px 0px 0px;}.elementor-25602 .elementor-element.elementor-element-e296ca0 > .elementor-element-populated{margin:0em 0em 0em 0em;--e-column-margin-right:0em;--e-column-margin-left:0em;padding:0em 0em 0em 0em;}.elementor-25602 .elementor-element.elementor-element-9d923ee .elementor-tab-title{padding:10px 0px 0px 0px;}.elementor-25602 .elementor-element.elementor-element-9d923ee .elementor-tab-content{padding:10px 10px 10px 10px;}.elementor-25602 .elementor-element.elementor-element-02315ef{text-align:left;}}/* Start custom CSS for toggle, class: .elementor-element-9d923ee */.elementor-25602 .elementor-element.elementor-element-9d923ee .elementor-image-box-content {
    display:flex;
    flex-direction:column;
     flex:1;
}
.elementor-25602 .elementor-element.elementor-element-9d923ee button {
    width:100%;
    max-width:248px;
    background: #48A9F5;
    border-radius: 3px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4em;
    color: #FFFFFF;
}
@media screen and (max-width: 769px) {
.welcome__to__your a.elementor-toggle-title {
    padding-left: 36px;
    display: inline-block;
    line-height: 1.2;
}
.welcome__to__your span.elementor-toggle-icon.elementor-toggle-icon-left {
    position: absolute;
}
}/* End custom CSS */
/* Start custom CSS for ld-courses, class: .elementor-element-3e22586 */.bb-card-course-details h2.bb-course-title {
    min-height: 55px;
    margin: 15px 0 8px !important;
    font-size: 20px !important;
    font-weight: 700 !important;
}
.ld-progress-stats .ld-progress-percentage.ld-secondary-color.course-completion-rate {
    font-size: 14px !important;
}
.bb-courses-directory .select-wrap select {
     
    border-radius: 4px;
    padding: 12px 40px !important;
    border: 1px solid #1f3c61 !important;
    text-transform: capitalize;
    color: #1f3c61 !important;
    margin-right: 0px !important;
    font-size: 18px;
    background-image: url(/wp-content/uploads/2021/06/arrowdown.png);
    height: auto;
    min-width: 220px;
}
.bb-courses-directory .select-wrap select:hover{
     background-color: #fff !important;
     color:#1f3c61  !important;
     border-color: #1f3c61  !important
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-c36b656 */.set_height img {
    height: 210px;
    object-fit: cover;
}/* End custom CSS */
/* Start custom CSS */div#secondary{
    display: none;
}		
.club_tools{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
}
.club_tools > li{
    height: 604px;
    width: 540px;
}
.ctw_wrapper{
    background: #FFFFFF;
    /* border */

    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 4px;
}
.ct_wrapper > h2 {
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #1F3C61;
    margin:0 0 16px;
}
.ctw_wrapper > h3{
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color:#1F3C61;
    margin: 0 0 16px;
    padding: 0 30px;
}
.ctw_wrapper > p{
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color:#6F7A88;
    margin: 0 0 24px;
    padding: 0 30px;
}
.ctw_wrapper a{
    padding: 0 30px;
}
.ctw_wrapper button{
    width: 320px;
    background: #48A9F5;
    border-radius: 4px;
    margin-bottom: 40px;

    font-family: Source Sans Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: center;
    color:#fff;

    background-image:url(<?= get_stylesheet_directory_uri() ?>/assets/img/dl.svg);
    background-repeat: no-repeat;
    background-position: left 26px center;
    padding:12px 22px 12px 60px;
}
.ctww_thumbnail{
    background: #f2f2f2;
    width: 100%;
    height: 338px;
    margin-bottom:30px;
    position: relative;
}
.ctww_thumbnail > img{
    width: 100%;
    height: 338px;
    
}
.play_icon{
    position: absolute;
    left: calc(50% - 35px);
    top: calc(50% - 35px);
    cursor: pointer;
}/* End custom CSS */