:root{--page-title-display:none;}/* Start custom CSS for section, class: .elementor-element-10b693a2 */.tribe-events-l-container{
    padding:0 !important;
}
.calendar_wrapper > div{
    padding:0 !important;
}/* End custom CSS */